@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

.content {
  max-width: 500px;
  margin-right: 40px;
  animation: slideFromTop 1s ease forwards;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.introText {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #ff4d4d;
  margin-bottom: -30px;
  opacity: 0;
  animation: slideFromTop 0.8s ease forwards;
  animation-delay: 0.2s;
}

.mainTitle {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 58px;
  font-weight: 900;
  color: #e6e6e6;
  line-height: 1.2;
  margin-bottom: -20px;
  margin-left: -4px;
  opacity: 0;
  animation: slideFromTop 0.8s ease forwards;
  animation-delay: 0.6s;

  @media (max-width: 576px) {
    font-size: 48px;
  }
}

.location {
  font-size: 16px;
  font-weight: 500;
  color: #888888;
  margin-bottom: 30px;
  opacity: 0;
  animation: slideFromTop 0.8s ease forwards;
  animation-delay: 0.8s;
  font-family: 'Inter', sans-serif;
}

.locationIcon {
  position: relative;
  top: 3px;
  margin-right: 4px;
  margin-left: -4px;
}

.description {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  line-height: 1.5;
  margin-bottom: 40px;
  opacity: 0;
  animation: slideFromTop 0.8s ease forwards;
  animation-delay: 0.8s;
  font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.link {
  color: #4dabf7;
  font-weight: 600;
  text-decoration: none;
}

.customButton {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background: linear-gradient(135deg, #ff4d4d, #ff8080);
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  gap: 8px;
  opacity: 0;
  animation: slideFromTop 0.8s ease forwards;
  animation-delay: 1s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.customButton:hover {
  background: linear-gradient(135deg, #ff8080, #ff4d4d);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.icon {
  display: flex;
  align-items: center;
}

.image {
  width: 270px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.2s;

  @media (max-width: 768px) {
    width: 200px;
    display: none;
  }
}
