@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    font-size: small;
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1rem;
    background-color: white;
    color: black;
    z-index: 1000;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.nav li {
    cursor: pointer;
}

.nav li:hover {
    color: rgb(126, 126, 126);
}

.section {
    padding: 100px;
    margin: 50px 0;
    margin-top: 70px;
}
