@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: small;
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1rem;
    background-color: white;
    color: black;
    z-index: 1000;
    flex-wrap: wrap;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
}

.nav li {
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.nav li:hover {
    color: rgb(126, 126, 126);
}

.section {
    padding: 100px;
    margin: 50px 0;
    margin-top: 70px;
}

@media (max-width: 800px) {

    .nav li h1 {
        font-size: 0.7rem;
    }
}