@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  padding: 20px;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.profile-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  object-position: center 30%;
}

.about-text {
  padding: 30px;
  text-align: center;
  max-width: 40%;
  font-size: 0.8vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  line-height: 1.75vw;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .profile-image {
    width: 30vw;
    height: 30vw;
    margin-bottom: 30px;
  }

  .about-text {
    max-width: 80%;
    font-size: 2vw;
    padding: 20px;
    line-height: 3vw;
  }
}

@media (max-width: 480px) {
  .profile-image {
    width: 40vw;
    height: 40vw;
    margin-bottom: 20px;
  }

  .about-text {
    max-width: 90%;
    font-size: 3vw;
    padding: 15px;
    line-height: 4vw;
  }
}
