@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  padding: 20px;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.profile-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  object-position: center 30%
}

.about-text {
  padding: 30px;
  text-align: center;
  max-width: 40%;
  font-size: 0.8vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  line-height: 1.75vw;
  font-family: 'Montserrat', sans-serif;
}

.down-projects-container {
  position: absolute;
  bottom: 1.75vw;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1100px) {

  .profile-image {
    width: 26vw;
    height: 26vw;
  }

  .about-text {
    padding: 30px;
    text-align: center;
    max-width: 60%;
    font-size: 1.5vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    line-height: 1.75vw;
  }  

  .down-projects svg {
    width: 4vw;
    height: auto;
  }

}

@media (max-width: 500px) {

  .profile-image {
    width: 45vw;
    height: 45vw;
    margin-top: 5px;
  }
  
  .about-text {
    padding: 30px;
    text-align: center;
    max-width: 75%;
    font-size: 2.7vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    line-height: 3.5vw;
    margin-bottom: -5px;
  }

  .down-projects svg {
    display: none;
  }

}  