@import url('https://fonts.googleapis.com/css2?family=Arvo');
@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani');

.phone-icon-buttons-container {
  display: none;
}

.contact {
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 47vw;
  height: 27vw;
  margin: 0 auto;
  background-color: #e9e9e9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease, transform 0.5s ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.card::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 2px solid black;
  pointer-events: none;
}

.card-back {
  background-color: #e9e9e9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Cardo', sans-serif;
}

.logo-text {
  font-size: 6.5vw;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: none;
  font-family: 'Arvo', sans-serif;
  margin: 0.8vw;
  letter-spacing: 2vw;
  position: relative;
}

.location {
  font-size: 1.8vw;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: none;
  margin: 0.5vw;
  letter-spacing: 3px;
}

.divider {
  width: 30vw;
  margin: 3vw;
  border: none;
  border-top: 1px solid #000;
  position: relative;
}

.profile-text {
  font-size: 1vw;
  text-align: center;
  margin: 0;
}

.card-type {
  font-family: 'Rajdhani', sans-serif;
  animation: blinker 2.5s linear infinite;
  margin: -15px;
}

.icon-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.icon-button {
  background-color: black;
  border: none;
  border-radius: 50%;
  margin: 2vw;
  padding: 2.3vw;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.5s;
}

.icon-button:hover {
  animation: none;
  transform: scale(1.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 0, 68);
}

.phone-icon-button:hover {
  animation: none;
  transform: scale(1.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 0, 68);
}

@media (max-width: 768px) {
  .location {
    display: none;
  }

  .divider {
    display: none;
  }

  .logo-text {
    font-size: 6.5vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: none;
    font-family: 'Arvo', sans-serif;
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    display: none
  }

  .phone-icon-buttons-container {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Cardo', sans-serif;
  }

  .phone-icon-button {
    background-color: black;
    border: none;
    border-radius: 50%;
    margin: 18vw;
    padding: 10vw;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.5s;
  }
  

}  

@keyframes blinker {
  50% {
    opacity: 0;
  }
}