@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');

.home {
  animation: fade-in 3s;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.home div {
  font-family: 'IBM Plex Mono', sans-serif;
}

.scroll-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1.5s infinite ease-in-out;
  transition: transform 0.3s ease-out;
}

.scroll-button svg {
  width: 1.25vw;
  height: auto;
}

@media (max-width: 1100px) {
  .scroll-button svg {
    width: 4vw;
    height: auto;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.scroll-button:hover {
  animation: none;
  transform: translate(-50%, 0) !important;
}

/* Apply fade-in animation only once on page load */
@keyframes initial-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-button-container {
  animation: initial-fade-in 3s;
}
