@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.home {
  background-color: #FAFAFA;
  animation: fade-in 4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex: 1;
  min-height: 100vh;
  position: relative;
}

.home div {
  font-family: 'IBM Plex Mono', sans-serif;
}

.down-about-container {
  position: absolute;
  bottom: 1.75vw;
  left: 50%;
  transform: translateX(-50%);
  animation: initial-fade-in 3s;
}

.down-about {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  animation: bounce 1.5s infinite ease-in-out;
  transition: transform 0.3s ease-out;
}

.down-about svg {
  width: 1.5vw;
  height: auto;
}

.down-about:hover {
  animation: none;
  transform: scale(1.3) !important;
  color: gray;
}

.resume {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 80px;
  width: 190px;
  height: 70px;
  border: none;
  color: black;
  background-color: lightgray;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 rgb(255, 0, 68);
  transition: ease-out 0.4s;
  font-size: 1.4rem;
  outline: none;
  letter-spacing: 4px;
}

.resume:hover {
  box-shadow: inset 190px 0 0 0 rgb(255, 0, 68);
  cursor: pointer;
  color: white;
}

@media (max-width: 1100px) {
  .home div {
    font-size: 7vw !important;
  }

  .down-about svg {
    width: 4vw;
    height: auto;
  }

  .icon-button {
    margin: 2.5vw;
    padding: 2.5vw;
    font-size: 2.5vw;
  }
}

@media (max-width: 500px) {

  .down-about svg {
    display: none;
  }

  .icon-button {
    padding: 3.5vw;
    font-size: 3.5vw;
  }

}  

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
}

@keyframes initial-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}