.App {
  position: relative;
}

.content {
  transition: filter 0.3s ease-in-out;
}

.content.blur-background {
  filter: blur(5px);
}

.snap-scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.snap-scroll-item {
  scroll-snap-align: start;
  height: 100vh;
}